<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/13b8fa12-f292-4fd6-82e1-94bed9542aba/resourceGroups/BEERPRICE/providers/Microsoft.Web/sites/beerprice</ResourceId>
    <ResourceGroup>BEERPRICE</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://beerprice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b8008558-2662-4000-a423-a5c24367c1cf</ProjectGuid>
    <PublishUrl>https://beerprice.scm.azurewebsites.net/</PublishUrl>
    <UserName>$beerprice</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>